<% let pageId='blog' ; %>
  <% let path='../' %>

    <%- include(path + 'common/_head' , {pageId: pageId}) %>

      <%- include(path + 'common/_header' , {pageId: pageId}) %>

        <% console.log(jsonData) %>

          <div class="l-archive">
            <div class="l-archive__main-visual l-main-visual l-main-visual--sub p-sub-main-visual archive-main-visual">
              <picture>
                <source srcset="/img/blog/blog_mv_pc_img.jpg" media="(min-width: 768px)">
                <img src="/img/blog/blog_mv_sp_img.jpg" alt="<%= jsonData.pages[pageId].title; %>">
              </picture>
              <div class="p-sub-main-visual__content archive-main-visual__content">
                <h1 class="p-sub-main-visual__title archive-main-visual__title">
                  <%= jsonData.pages[pageId].title; %>
                </h1>
                <span class="p-sub-main-visual__subtitle archive-main-visual__subtitle">
                  <%= jsonData.pages[pageId].subtitle; %>
                </span>
              </div><!-- /.p-sub-main-visual__content archive-main-visual__content -->
            </div><!-- /.l-main-visual p-sub-main-visual archive-main-visual -->

            <%- include(path + 'common/_breadcrumb' , {pageId: pageId}) %>

              <div class="l-archive__content archive-content">
                <div class="l-container archive-content__container">
                  <div class="archive-content__inner">
                    <main class="archive-content__main archive-main">
                      <div class="archive-main__items">
                        <a href="<%= jsonData.pages.blog_single.slug; %>" class="archive-main__item p-post-card js-anime-target">
                          <span class="p-post-card__badge">new</span>
                          <figure class="p-post-card__image">
                            <img src="/img/blog/blog_post_img.jpg" alt="<%= jsonData.pages.blog_single.title; %>">
                          </figure><!-- /.p-post-card__image -->

                          <div class="p-post-card__body">
                            <div class="p-post-card__category-wrapper">
                              <span class="p-post-card__category">お知らせ</span>
                            </div><!-- /.p-post-card__category-wrapper -->
                            <h3 class="p-post-card__title">
                              <%= jsonData.pages.blog_single.title; %>
                            </h3>
                            <time datetime="2020-02-14" class="p-post-card__published">2020.02.14</time>
                          </div><!-- /.p-post-card__body -->
                        </a><!-- /.archive-main__item p-post-card -->

                        <a href="<%= jsonData.pages.blog_single.slug; %>" class="archive-main__item p-post-card js-anime-target">
                          <span class="p-post-card__badge">new</span>
                          <figure class="p-post-card__image">
                            <img src="/img/blog/blog_post_img.jpg" alt="<%= jsonData.pages.blog_single.title; %>">
                          </figure><!-- /.p-post-card__image -->

                          <div class="p-post-card__body">
                            <div class="p-post-card__category-wrapper">
                              <span class="p-post-card__category">お知らせ</span>
                            </div><!-- /.p-post-card__category-wrapper -->
                            <h3 class="p-post-card__title">
                              <%= jsonData.pages.blog_single.title; %>
                            </h3>
                            <time datetime="2020-02-14" class="p-post-card__published">2020.02.14</time>
                          </div><!-- /.p-post-card__body -->
                        </a><!-- /.archive-main__item p-post-card -->

                        <a href="<%= jsonData.pages.blog_single.slug; %>" class="archive-main__item p-post-card js-anime-target">
                          <figure class="p-post-card__image">
                            <img src="/img/blog/blog_post_img.jpg" alt="<%= jsonData.pages.blog_single.title; %>">
                          </figure><!-- /.p-post-card__image -->

                          <div class="p-post-card__body">
                            <div class="p-post-card__category-wrapper">
                              <span class="p-post-card__category">お知らせ</span>
                            </div><!-- /.p-post-card__category-wrapper -->
                            <h3 class="p-post-card__title">
                              <%= jsonData.pages.blog_single.title; %>
                            </h3>
                            <time datetime="2020-02-14" class="p-post-card__published">2020.02.14</time>
                          </div><!-- /.p-post-card__body -->
                        </a><!-- /.archive-main__item p-post-card -->

                        <a href="<%= jsonData.pages.blog_single.slug; %>" class="archive-main__item p-post-card js-anime-target">
                          <figure class="p-post-card__image">
                            <img src="/img/blog/blog_post_img.jpg" alt="<%= jsonData.pages.blog_single.title; %>">
                          </figure><!-- /.p-post-card__image -->

                          <div class="p-post-card__body">
                            <div class="p-post-card__category-wrapper">
                              <span class="p-post-card__category">お知らせ</span>
                            </div><!-- /.p-post-card__category-wrapper -->
                            <h3 class="p-post-card__title">
                              <%= jsonData.pages.blog_single.title; %>
                            </h3>
                            <time datetime="2020-02-14" class="p-post-card__published">2020.02.14</time>
                          </div><!-- /.p-post-card__body -->
                        </a><!-- /.archive-main__item p-post-card -->

                        <a href="<%= jsonData.pages.blog_single.slug; %>" class="archive-main__item p-post-card js-anime-target">
                          <figure class="p-post-card__image">
                            <img src="/img/blog/blog_post_img.jpg" alt="<%= jsonData.pages.blog_single.title; %>">
                          </figure><!-- /.p-post-card__image -->

                          <div class="p-post-card__body">
                            <div class="p-post-card__category-wrapper">
                              <span class="p-post-card__category">お知らせ</span>
                            </div><!-- /.p-post-card__category-wrapper -->
                            <h3 class="p-post-card__title">
                              <%= jsonData.pages.blog_single.title; %>
                            </h3>
                            <time datetime="2020-02-14" class="p-post-card__published">2020.02.14</time>
                          </div><!-- /.p-post-card__body -->
                        </a><!-- /.archive-main__item p-post-card -->

                        <a href="<%= jsonData.pages.blog_single.slug; %>" class="archive-main__item p-post-card js-anime-target">
                          <figure class="p-post-card__image">
                            <img src="/img/blog/blog_post_img.jpg" alt="<%= jsonData.pages.blog_single.title; %>">
                          </figure><!-- /.p-post-card__image -->

                          <div class="p-post-card__body">
                            <div class="p-post-card__category-wrapper">
                              <span class="p-post-card__category">お知らせ</span>
                            </div><!-- /.p-post-card__category-wrapper -->
                            <h3 class="p-post-card__title">
                              <%= jsonData.pages.blog_single.title; %>
                            </h3>
                            <time datetime="2020-02-14" class="p-post-card__published">2020.02.14</time>
                          </div><!-- /.p-post-card__body -->
                        </a><!-- /.archive-main__item p-post-card -->

                        <a href="<%= jsonData.pages.blog_single.slug; %>" class="archive-main__item p-post-card js-anime-target">
                          <figure class="p-post-card__image">
                            <img src="/img/blog/blog_post_img.jpg" alt="<%= jsonData.pages.blog_single.title; %>">
                          </figure><!-- /.p-post-card__image -->

                          <div class="p-post-card__body">
                            <div class="p-post-card__category-wrapper">
                              <span class="p-post-card__category">お知らせ</span>
                            </div><!-- /.p-post-card__category-wrapper -->
                            <h3 class="p-post-card__title">
                              <%= jsonData.pages.blog_single.title; %>
                            </h3>
                            <time datetime="2020-02-14" class="p-post-card__published">2020.02.14</time>
                          </div><!-- /.p-post-card__body -->
                        </a><!-- /.archive-main__item p-post-card -->


                        <a href="<%= jsonData.pages.blog_single.slug; %>" class="archive-main__item p-post-card js-anime-target">
                          <figure class="p-post-card__image">
                            <img src="/img/blog/blog_post_img.jpg" alt="<%= jsonData.pages.blog_single.title; %>">
                          </figure><!-- /.p-post-card__image -->

                          <div class="p-post-card__body">
                            <div class="p-post-card__category-wrapper">
                              <span class="p-post-card__category">お知らせ</span>
                            </div><!-- /.p-post-card__category-wrapper -->
                            <h3 class="p-post-card__title">
                              <%= jsonData.pages.blog_single.title; %>
                            </h3>
                            <time datetime="2020-02-14" class="p-post-card__published">2020.02.14</time>
                          </div><!-- /.p-post-card__body -->
                        </a><!-- /.archive-main__item p-post-card -->

                        <a href="<%= jsonData.pages.blog_single.slug; %>" class="archive-main__item p-post-card js-anime-target">
                          <figure class="p-post-card__image">
                            <img src="/img/blog/blog_post_img.jpg" alt="<%= jsonData.pages.blog_single.title; %>">
                          </figure><!-- /.p-post-card__image -->

                          <div class="p-post-card__body">
                            <div class="p-post-card__category-wrapper">
                              <span class="p-post-card__category">お知らせ</span>
                            </div><!-- /.p-post-card__category-wrapper -->
                            <h3 class="p-post-card__title">
                              <%= jsonData.pages.blog_single.title; %>
                            </h3>
                            <time datetime="2020-02-14" class="p-post-card__published">2020.02.14</time>
                          </div><!-- /.p-post-card__body -->
                        </a><!-- /.archive-main__item p-post-card -->

                        <a href="<%= jsonData.pages.blog_single.slug; %>" class="archive-main__item p-post-card js-anime-target">
                          <figure class="p-post-card__image">
                            <img src="/img/blog/blog_post_img.jpg" alt="<%= jsonData.pages.blog_single.title; %>">
                          </figure><!-- /.p-post-card__image -->

                          <div class="p-post-card__body">
                            <div class="p-post-card__category-wrapper">
                              <span class="p-post-card__category">お知らせ</span>
                            </div><!-- /.p-post-card__category-wrapper -->
                            <h3 class="p-post-card__title">
                              <%= jsonData.pages.blog_single.title; %>
                            </h3>
                            <time datetime="2020-02-14" class="p-post-card__published">2020.02.14</time>
                          </div><!-- /.p-post-card__body -->
                        </a><!-- /.archive-main__item p-post-card -->
                      </div><!-- /.archive-main__items -->

                      <%- include(path + 'common/_pagination' , {pageId: pageId}) %>
                    </main><!-- /.archive-content__main archive-main -->

                    <div class="archive-content__side">
                      <%- include(path + 'common/_sidebar' , {pageId: pageId}) %>
                    </div><!-- /.archive-content__side -->
                  </div><!-- /.archive-content__inner -->
                </div><!-- /.l-container archive-content__container -->
              </div><!-- /.l-archive__content archive-content -->
          </div><!-- /.l-archive -->

          <%- include(path + 'common/_footer' , {pageId: pageId}) %>