<aside class="p-sidebar">
  <div class="p-sidebar__intro p-sidebar-intro">
    <h2 class="p-sidebar-intro__head">クリニックの紹介</h2>
    <figure class="p-sidebar-intro__image">
      <img src="/img/blog/blog_sidebar_intro_img.jpg" alt="クリニックの紹介">
    </figure><!-- /.p-sidebar-intro__image -->
    <h3 class="p-sidebar-intro__title">みなみ歯科クリニック</h3>
    <p class="p-sidebar-intro__description">お子様からご高齢の方まで、快適な空間で治療が受けられる場を作り、地域医療に貢献しきたいと考えております。
    </p>
    <a href="<%= jsonData.pages.about.slug; %>" class="p-sidebar-intro__link">
      <%= jsonData.pages.about.title; %>
    </a>
  </div><!-- /.p-sidebar__intro p-sidebar-intro -->

  <div class="p-sidebar__latest-posts p-sidebar-latest-posts">
    <h2 class="p-sidebar-latest-posts__head">新着記事</h2>
    <div class="p-sidebar-latest-posts__items">
      <a href="<%= jsonData.pages.blog_single.slug; %>"
        class="p-sidebar-latest-posts__item p-post-card p-post-card--sidebar">
        <figure class="p-post-card__image">
          <img src="/img/blog/blog_post_img.jpg" alt="<%= jsonData.pages.blog_single.title; %>">
        </figure><!-- /.p-post-card__image -->
        <div class="p-post-card__body">
          <div class="p-post-card__category-wrapper">
            <span class="p-post-card__category">お知らせ</span>
          </div><!-- /.p-post-card__category-wrapper -->
          <p class="p-post-card__title">
            <%= jsonData.pages.blog_single.title; %>
          </p>
          <time datetime="2020-02-14" class="p-post-card__published">2020.02.14</time>
        </div><!-- /.p-post-card__body -->
      </a><!-- /.p-sidebar-latest-posts__item p-post-card -->

      <a href="<%= jsonData.pages.blog_single.slug; %>"
        class="p-sidebar-latest-posts__item p-post-card p-post-card--sidebar">
        <figure class="p-post-card__image">
          <img src="/img/blog/blog_post_img.jpg" alt="<%= jsonData.pages.blog_single.title; %>">
        </figure><!-- /.p-post-card__image -->
        <div class="p-post-card__body">
          <div class="p-post-card__category-wrapper">
            <span class="p-post-card__category">お知らせ</span>
          </div><!-- /.p-post-card__category-wrapper -->
          <p class="p-post-card__title">
            <%= jsonData.pages.blog_single.title; %>
          </p>
          <time datetime="2020-02-14" class="p-post-card__published">2020.02.14</time>
        </div><!-- /.p-post-card__body -->
      </a><!-- /.p-sidebar-latest-posts__item p-post-card -->

      <a href="<%= jsonData.pages.blog_single.slug; %>"
        class="p-sidebar-latest-posts__item p-post-card p-post-card--sidebar">
        <figure class="p-post-card__image">
          <img src="/img/blog/blog_post_img.jpg" alt="<%= jsonData.pages.blog_single.title; %>">
        </figure><!-- /.p-post-card__image -->
        <div class="p-post-card__body">
          <div class="p-post-card__category-wrapper">
            <span class="p-post-card__category">お知らせ</span>
          </div><!-- /.p-post-card__category-wrapper -->
          <p class="p-post-card__title">
            <%= jsonData.pages.blog_single.title; %>
          </p>
          <time datetime="2020-02-14" class="p-post-card__published">2020.02.14</time>
        </div><!-- /.p-post-card__body -->
      </a><!-- /.p-sidebar-latest-posts__item p-post-card -->

      <a href="<%= jsonData.pages.blog_single.slug; %>"
        class="p-sidebar-latest-posts__item p-post-card p-post-card--sidebar">
        <figure class="p-post-card__image">
          <img src="/img/blog/blog_post_img.jpg" alt="<%= jsonData.pages.blog_single.title; %>">
        </figure><!-- /.p-post-card__image -->
        <div class="p-post-card__body">
          <div class="p-post-card__category-wrapper">
            <span class="p-post-card__category">お知らせ</span>
          </div><!-- /.p-post-card__category-wrapper -->
          <p class="p-post-card__title">
            <%= jsonData.pages.blog_single.title; %>
          </p>
          <time datetime="2020-02-14" class="p-post-card__published">2020.02.14</time>
        </div><!-- /.p-post-card__body -->
      </a><!-- /.p-sidebar-latest-posts__item p-post-card -->

      <a href="<%= jsonData.pages.blog_single.slug; %>"
        class="p-sidebar-latest-posts__item p-post-card p-post-card--sidebar">
        <figure class="p-post-card__image">
          <img src="/img/blog/blog_post_img.jpg" alt="<%= jsonData.pages.blog_single.title; %>">
        </figure><!-- /.p-post-card__image -->
        <div class="p-post-card__body">
          <div class="p-post-card__category-wrapper">
            <span class="p-post-card__category">お知らせ</span>
          </div><!-- /.p-post-card__category-wrapper -->
          <p class="p-post-card__title">
            <%= jsonData.pages.blog_single.title; %>
          </p>
          <time datetime="2020-02-14" class="p-post-card__published">2020.02.14</time>
        </div><!-- /.p-post-card__body -->
      </a><!-- /.p-sidebar-latest-posts__item p-post-card -->
    </div><!-- /.p-sidebar-latest-posts__items -->
  </div><!-- /.p-sidebar__latest-posts p-sidebar-latest-posts -->

  <div class="p-sidebar__category-list p-sidebar-category-list">
    <h2 class="p-sidebar-category-list__head">カテゴリー</h2>
    <ul class="p-sidebar-category-list__items">
      <li class="p-sidebar-category-list__item"><a href="">テキストテキスト</a></li>
      <li class="p-sidebar-category-list__item"><a href="">テキストテキスト</a></li>
      <li class="p-sidebar-category-list__item"><a href="">テキストテキスト</a></li>
      <li class="p-sidebar-category-list__item"><a href="">テキストテキスト</a></li>
    </ul><!-- /.p-sidebar-category-list__items -->
  </div><!-- /.p-sidebar__category-list p-sidebar-category-list -->
</aside><!-- /.p-sidebar -->