<% let pageId='medical' ; %>
  <% let path='../' ; %>

    <%- include(path + 'common/_head' , {pageId: pageId}) %>

      <%- include(path + 'common/_header' , {pageId: pageId}) %>

        <% console.log(jsonData) %>

          <div class="l-medical">
            <div class="l-medical__main-visual l-main-visual l-main-visual--sub p-sub-main-visual medical-main-visual">
              <picture>
                <source srcset="/img/medical/medical_mv_pc_img.jpg" media="(min-width: 768px)">
                <img src="/img/medical/medical_mv_sp_img.jpg" alt="<%= jsonData.pages[pageId].title; %>">
              </picture>
              <div class="p-sub-main-visual__content medical-main-visual__content">
                <h1 class="p-sub-main-visual__title medical-main-visual__title">
                  <%= jsonData.pages[pageId].title; %>
                </h1>
                <span class="p-sub-main-visual__subtitle medical-main-visual__subtitle">
                  <%= jsonData.pages[pageId].subtitle; %>
                </span>
              </div><!-- /.p-sub-main-visual__content medical-main-visual__content -->
            </div><!-- /.l-main-visual l-main-visual--sub p-sub-main-visual medical-main-visual -->

            <%- include(path + 'common/_breadcrumb' , {pageId: pageId}) %>

              <section class="l-medical__anchor medical-anchor">
                <div class="l-container medical-anchor__container">
                  <h2 class="medical-anchor__title medical-anchor__title--general">一般診療</h2>

                  <ul class="medical-anchor__items">
                    <li class="medical-anchor__item"><a href="#general">一般歯科</a></li>
                    <li class="medical-anchor__item"><a href="#child">小児歯科</a></li>
                    <li class="medical-anchor__item"><a href="#prevention">予防歯科</a></li>
                  </ul><!-- /.medical-anchor__items -->
                </div><!-- /.l-container medical-anchor__container -->
              </section><!-- /.l-medical__anchor medical-anchor -->

              <section class="l-medical__anchor medical-anchor">
                <div class="l-container medical-anchor__container">
                  <h2 class="medical-anchor__title medical-anchor__title--special">特殊診療</h2>

                  <ul class="medical-anchor__items">
                    <li class="medical-anchor__item"><a href="#denture">入れ歯</a></li>
                    <li class="medical-anchor__item"><a href="#orthodontia">矯正歯科</a></li>
                    <li class="medical-anchor__item"><a href="#whitening">ホワイトニング</a></li>
                    <li class="medical-anchor__item"><a href="#oral">口腔外科</a></li>
                    <li class="medical-anchor__item"><a href="#laser">レーザー治療</a></li>
                  </ul><!-- /.medical-anchor__items -->
                </div><!-- /.l-container medical-anchor__container -->
              </section><!-- /.l-medical__anchor medical-anchor -->

              <section class="l-medical__intro medical-intro">
                <div class="medical-intro__top-deco"></div>
                <div class="medical-intro__content">
                  <div class="l-container medical-intro__container">
                    <div class="medical-intro__title-wrapper">
                      <h2 class="medical-intro__title c-section-title">一般診療</h2>
                    </div><!-- /.medical-intro__title-wrapper -->

                    <ul class="medical-intro__items">
                      <li id="general" class="medical-intro__item p-medical-intro-card">
                        <span class="p-medical-intro-card__label p-medical-intro-card__label--general">保険対象</span>
                        <div class="p-medical-intro-card__head">
                          <h3 class="p-medical-intro-card__title">一般歯科</h3>
                          <span class="p-medical-intro-card__subtitle">虫歯治療、歯茎がしみるなど</span>
                        </div><!-- /.p-medical-intro-card__head -->

                        <div class="p-medical-intro-card__body">
                          <p class="p-medical-intro-card__description">
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br><br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                          </p>
                          <figure class="p-medical-intro-card__image">
                            <img src="/img/medical/medical_general_img01.jpg" alt="一般歯科">
                          </figure><!-- /.p-medical-intro-card__image -->
                        </div><!-- /.p-medical-intro-card__body -->
                      </li><!-- /.medical-intro__item p-medical-intro-card -->

                      <li id="child" class="medical-intro__item p-medical-intro-card">
                        <span class="p-medical-intro-card__label p-medical-intro-card__label--general">保険対象</span>
                        <div class="p-medical-intro-card__head">
                          <h3 class="p-medical-intro-card__title">小児歯科</h3>
                          <span class="p-medical-intro-card__subtitle">小さいお子様の歯の治療</span>
                        </div><!-- /.p-medical-intro-card__head -->

                        <div class="p-medical-intro-card__body">
                          <p class="p-medical-intro-card__description">
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br><br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                          </p>
                          <figure class="p-medical-intro-card__image">
                            <img src="/img/medical/medical_general_img02.jpg" alt="小児歯科">
                          </figure><!-- /.p-medical-intro-card__image -->
                        </div><!-- /.p-medical-intro-card__body -->
                      </li><!-- /.medical-intro__item p-medical-intro-card -->

                      <li id="prevention" class="medical-intro__item p-medical-intro-card">
                        <span class="p-medical-intro-card__label p-medical-intro-card__label--general">保険対象</span>
                        <div class="p-medical-intro-card__head">
                          <h3 class="p-medical-intro-card__title">予防歯科</h3>
                          <span class="p-medical-intro-card__subtitle">口腔内のケア全般</span>
                        </div><!-- /.p-medical-intro-card__head -->

                        <div class="p-medical-intro-card__body">
                          <p class="p-medical-intro-card__description">
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br><br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                          </p>
                          <figure class="p-medical-intro-card__image">
                            <img src="/img/medical/medical_general_img03.jpg" alt="予防歯科">
                          </figure><!-- /.p-medical-intro-card__image -->
                        </div><!-- /.p-medical-intro-card__body -->
                      </li><!-- /.medical-intro__item p-medical-intro-card -->
                    </ul><!-- /.medical-intro__items -->
                  </div><!-- /.medical-intro__container -->
                </div><!-- /.medical-intro__content -->
                <div class="medical-intro__bottom-deco"></div>
              </section><!-- /.l-medical__intro medical-intro -->

              <section class="l-medical__intro medical-intro">
                <div class="medical-intro__top-deco"></div>
                <div class="medical-intro__content">
                  <div class="l-container medical-intro__container">
                    <div class="medical-intro__title-wrapper">
                      <h2 class="medical-intro__title c-section-title">特殊診療</h2>
                    </div><!-- /.medical-intro__title-wrapper -->

                    <ul class="medical-intro__items">
                      <li id="denture" class="medical-intro__item p-medical-intro-card">
                        <span class="p-medical-intro-card__label p-medical-intro-card__label--special">実費</span>
                        <div class="p-medical-intro-card__head">
                          <h3 class="p-medical-intro-card__title">入れ歯</h3>
                          <span class="p-medical-intro-card__subtitle">入れ歯を作りたい、調整したい</span>
                        </div><!-- /.p-medical-intro-card__head -->

                        <div class="p-medical-intro-card__body">
                          <p class="p-medical-intro-card__description">
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br><br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                          </p>
                          <figure class="p-medical-intro-card__image">
                            <img src="/img/medical/medical_special_img01.jpg" alt="入れ歯">
                          </figure><!-- /.p-medical-intro-card__image -->
                        </div><!-- /.p-medical-intro-card__body -->
                      </li><!-- /.medical-intro__item p-medical-intro-card -->

                      <li id="orthodontia" class="medical-intro__item p-medical-intro-card">
                        <span class="p-medical-intro-card__label p-medical-intro-card__label--special">実費</span>
                        <div class="p-medical-intro-card__head">
                          <h3 class="p-medical-intro-card__title">矯正歯科</h3>
                          <span class="p-medical-intro-card__subtitle">歯並びが気になる</span>
                        </div><!-- /.p-medical-intro-card__head -->

                        <div class="p-medical-intro-card__body">
                          <p class="p-medical-intro-card__description">
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br><br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                          </p>
                          <figure class="p-medical-intro-card__image">
                            <img src="/img/medical/medical_special_img02.jpg" alt="矯正歯科">
                          </figure><!-- /.p-medical-intro-card__image -->
                        </div><!-- /.p-medical-intro-card__body -->
                      </li><!-- /.medical-intro__item p-medical-intro-card -->

                      <li id="whitening" class="medical-intro__item p-medical-intro-card">
                        <span class="p-medical-intro-card__label p-medical-intro-card__label--special">実費</span>
                        <div class="p-medical-intro-card__head">
                          <h3 class="p-medical-intro-card__title">ホワイトニング</h3>
                          <span class="p-medical-intro-card__subtitle">歯を白くしたい</span>
                        </div><!-- /.p-medical-intro-card__head -->

                        <div class="p-medical-intro-card__body">
                          <p class="p-medical-intro-card__description">
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br><br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                          </p>
                          <figure class="p-medical-intro-card__image">
                            <img src="/img/medical/medical_special_img03.jpg" alt="ホワイトニング">
                          </figure><!-- /.p-medical-intro-card__image -->
                        </div><!-- /.p-medical-intro-card__body -->
                      </li><!-- /.medical-intro__item p-medical-intro-card -->
                      
                      <li id="oral" class="medical-intro__item p-medical-intro-card">
                        <span class="p-medical-intro-card__label p-medical-intro-card__label--special">実費</span>
                        <div class="p-medical-intro-card__head">
                          <h3 class="p-medical-intro-card__title">口腔外科</h3>
                          <span class="p-medical-intro-card__subtitle">インプラント、親知らずの抜歯</span>
                        </div><!-- /.p-medical-intro-card__head -->

                        <div class="p-medical-intro-card__body">
                          <p class="p-medical-intro-card__description">
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br><br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                          </p>
                          <figure class="p-medical-intro-card__image">
                            <img src="/img/medical/medical_special_img04.jpg" alt="口腔外科">
                          </figure><!-- /.p-medical-intro-card__image -->
                        </div><!-- /.p-medical-intro-card__body -->
                      </li><!-- /.medical-intro__item p-medical-intro-card -->

                      <li id="laser" class="medical-intro__item p-medical-intro-card">
                        <span class="p-medical-intro-card__label p-medical-intro-card__label--special">実費</span>
                        <div class="p-medical-intro-card__head">
                          <h3 class="p-medical-intro-card__title">レーザー治療</h3>
                          <span class="p-medical-intro-card__subtitle">口内炎を治したい</span>
                        </div><!-- /.p-medical-intro-card__head -->

                        <div class="p-medical-intro-card__body">
                          <p class="p-medical-intro-card__description">
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br><br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                          </p>
                          <figure class="p-medical-intro-card__image">
                            <img src="/img/medical/medical_special_img05.jpg" alt="レーザー治療">
                          </figure><!-- /.p-medical-intro-card__image -->
                        </div><!-- /.p-medical-intro-card__body -->
                      </li><!-- /.medical-intro__item p-medical-intro-card -->
                    </ul><!-- /.medical-intro__items -->
                  </div><!-- /.medical-intro__container -->
                </div><!-- /.medical-intro__content -->
                <div class="medical-intro__bottom-deco"></div>
              </section><!-- /.l-medical__intro medical-intro -->
          </div><!-- /.l-medical -->

          <%- include(path + 'common/_footer' , {pageId: pageId}) %>