<% let pageId='reserve_thanks' ; %>
  <% let path='../../' ; %>

    <%- include(path + 'common/_head' , {pageId: pageId}) %>

      <%- include(path + 'common/_header' , {pageId: pageId}) %>

        <% console.log(jsonData) %>

          <div class="l-contact">
            <div class="l-contact__main-visual l-main-visual l-main-visual--sub p-sub-main-visual contact-main-visual">
              <picture>
                <source srcset="/img/contact/contact_mv_pc_img.jpg" media="(min-width: 768px)">
                <img src="/img/contact/contact_mv_sp_img.jpg" alt="<%= jsonData.pages[pageId].title; %>">
              </picture>
              <div class="p-sub-main-visual__content contact-main-visual__content">
                <h1 class="p-sub-main-visual__title contact-main-visual__title">
                  <%= jsonData.pages[pageId].title; %>
                </h1>
                <span class="p-sub-main-visual__subtitle contact-main-visual__subtitle">
                  <%= jsonData.pages[pageId].subtitle; %>
                </span>
              </div><!-- /.p-sub-main-visual__content contact-main-visual__content -->
            </div><!-- /.l-main-visual p-sub-main-visual contact-main-visual -->

            <%- include(path + 'common/_breadcrumb' , {pageId: pageId}) %>

              <div class="l-contact__content contact-content">
                <div class="l-container contact-content__container">
                  <div class="contact-content__info contact-info">
                    <p class="contact-info__description">WEBよりご予約いただき誠にありがとうございます。<br>
                      送信いただいた内容を確認して1営業日以内に返信いたします。<br><span class="contact-info__description--precaution">
                        ※1営業日以内に当院からの返信がない場合には、お電話(TEL 03-1234-5678)にてお問い合わせ下さい。</span></p>
                  </div><!-- /.contact-content__info contact-info -->
                </div><!-- /.l-container contact-content__container -->
              </div><!-- /.l-contact__content contact-content -->
          </div><!-- /.l-contact -->

          <%- include(path + 'common/_footer' , {pageId: pageId}) %>