<% let pageId='staff' ; %>
  <% let path='../' ; %>

    <%- include(path + 'common/_head' , {pageId: pageId}) %>

      <%- include(path + 'common/_header' , {pageId: pageId}) %>

        <% console.log(jsonData) %>

          <div class="l-staff">
            <div class="l-staff__main-visual l-main-visual l-main-visual--sub p-sub-main-visual staff-main-visual">
              <picture>
                <source srcset="/img/staff/staff_mv_pc_img.jpg" media="(min-width: 768px)">
                <img src="/img/staff/staff_mv_sp_img.jpg" alt="<%= jsonData.pages[pageId].title; %>">
              </picture>
              <div class="p-sub-main-visual__content staff-main-visual__content">
                <h1 class="p-sub-main-visual__title staff-main-visual__title">
                  <%= jsonData.pages[pageId].title; %>
                </h1>
                <span class="p-sub-main-visual__subtitle staff-main-visual__subtitle">
                  <%= jsonData.pages[pageId].subtitle; %>
                </span>
              </div><!-- /.p-sub-main-visual__content staff-main-visual__content -->
            </div><!-- /.l-main-visual l-main-visual--sub p-sub-main-visual staff-main-visual -->

            <%- include(path + 'common/_breadcrumb' , {pageId: pageId}) %>

              <section class="l-staff__greeting staff-greeting">
                <div class="l-container staff-greeting__container">
                  <div class="staff-greeting__title-wrapper">
                    <h2 class="staff-greeting__title c-section-title">院長のあいさつ</h2>
                  </div><!-- /.staff-greeting__title-wrapper -->

                  <div class="staff-greeting__director-info staff-director-info">
                    <div class="staff-director-info__body">
                      <div class="staff-director-info__greeting staff-director-greeting">
                        <h3 class="staff-director-greeting__lead">気軽に相談できる<br>街の歯医者さんでありたい。</h3>
                        <p class="staff-director-greeting__description">
                          当院は治療はもちろん、予防歯科にも力を入れておりますので、お口に関する相談だけでもお越しいただきたいと考えております。</p>
                        <p class="staff-director-greeting__description">
                          「患部を直すこと」より「未然に防ぐこと」が最も良い歯科医療と言えますので、些細なことでも気軽に話せる街の歯医者さんとして、明るい街づくりに貢献していきたいと考えております。</p>
                        <p class="staff-director-greeting__description">みなみ歯科クリニック<br>院長　南 俊雄</p>
                      </div><!-- /.staff-director-info__greeting staff-director-greeting -->

                      <div class="staff-director-info__profile-lists">
                        <div class="staff-director-info__profile-list staff-director-profile">
                          <h4 class="staff-director-profile__title">経歴</h4>
                          <dl class="staff-director-profile__items">
                            <dt>2004年</dt>
                            <dd>東京医科歯科大学歯学部 卒業</dd>
                            <dt>2008年</dt>
                            <dd>東京歯科大学歯学研究科大学院修了<br>博士(歯学)取得</dd>
                            <dt>2012年</dt>
                            <dd>みなみ歯科クリニック 開院</dd>
                          </dl><!-- /.staff-director-profile__items -->
                        </div><!-- /.staff-director-info__profile-list staff-director-profile -->

                        <div class="staff-director-info__profile-list staff-director-profile">
                          <h4 class="staff-director-profile__title">資格</h4>
                          <ul class="staff-director-profile__items">
                            <li>歯科医師臨床研修指導歯科医</li>
                            <li>博士(歯学)</li>
                            <li>衛生検査技師</li>
                          </ul><!-- /.staff-director-profile__items -->
                        </div><!-- /.staff-director-info__profile-list staff-director-profile -->
                      </div><!-- /.staff-director-info__profile -->
                    </div><!-- /.staff-director-info__body -->

                    <figure class="staff-director-info__image">
                      <img src="/img/staff/staff_director_img.jpg" alt="みなみ歯科クリニック　院長　南 俊雄">
                    </figure><!-- /.staff-director-info__image -->
                  </div><!-- /.staff-greeting__director-info staff-director-info -->
                </div><!-- /.l-container staff-greeting__container -->
              </section><!-- /.l-staff__policy staff-greeting -->

              <div class="l-staff__slider staff-slider swiper js-staff-slider">
                <div class="staff-slider__slides swiper-wrapper">
                  <div class="staff-slider__slide swiper-slide">
                    <img src="/img/staff/staff_slider_img01.jpg" alt="当院のスタッフ１">
                  </div><!-- /.staff-slider__slide -->
                  <div class="staff-slider__slide swiper-slide">
                    <img src="/img/staff/staff_slider_img02.jpg" alt="当院のスタッフ２">
                  </div><!-- /.staff-slider__slide -->
                  <div class="staff-slider__slide swiper-slide">
                    <img src="/img/staff/staff_slider_img03.jpg" alt="当院のスタッフ３">
                  </div><!-- /.staff-slider__slide -->
                  <div class="staff-slider__slide swiper-slide">
                    <img src="/img/staff/staff_slider_img04.jpg" alt="当院のスタッフ４">
                  </div><!-- /.staff-slider__slide -->
                  <div class="staff-slider__slide swiper-slide">
                    <img src="/img/staff/staff_slider_img05.jpg" alt="当院のスタッフ５">
                  </div><!-- /.staff-slider__slide -->
                </div><!-- /.staff-slider__slides -->
              </div><!-- /.l-staff__slider staff-slider -->

              <section class="l-staff__intro staff-intro">
                <div class="l-container staff-intro__container">
                  <div class="staff-intro__title-wrapper">
                    <h2 class="staff-intro__title c-section-title">スタッフ紹介</h2>
                  </div><!-- /.staff-intro__title-wrapper -->

                  <section class="staff-intro__group staff-group">
                    <h3 class="staff-group__title">歯科衛生士</h3>

                    <ul class="staff-group__items">
                      <li class="staff-group__item p-staff-profile">
                        <figure class="p-staff-profile__image">
                          <img src="/img/staff/staff_dental-hygienist_img01.jpg" alt="歯科衛生士　鈴木 太郎">
                        </figure><!-- /.p-staff-profile__image -->

                        <h4 class="p-staff-profile__name"><span class="p-staff-profile__name--small">歯科衛生士</span>鈴木 太郎</h4>

                        <dl class="p-staff-profile__data p-staff-data">
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">出身地</dt>
                            <dd class="p-staff-data__description">北海道</dd>
                          </div><!-- /.p-staff-data__item -->
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">趣味</dt>
                            <dd class="p-staff-data__description">スキー、料理</dd>
                          </div><!-- /.p-staff-data__item -->
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">好きな食べ物</dt>
                            <dd class="p-staff-data__description">お寿司、うなぎ</dd>
                          </div><!-- /.p-staff-data__item -->
                        </dl><!-- /.p-staff-profile__data p-staff-data -->
                      </li><!-- /.staff-group__item p-staff-profile -->

                      <li class="staff-group__item p-staff-profile">
                        <figure class="p-staff-profile__image">
                          <img src="/img/staff/staff_dental-hygienist_img02.jpg" alt="歯科衛生士　山田 花子">
                        </figure><!-- /.p-staff-profile__image -->

                        <h4 class="p-staff-profile__name"><span class="p-staff-profile__name--small">歯科衛生士</span>山田 花子</h4>

                        <dl class="p-staff-profile__data p-staff-data">
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">出身地</dt>
                            <dd class="p-staff-data__description">北海道</dd>
                          </div><!-- /.p-staff-data__item -->
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">趣味</dt>
                            <dd class="p-staff-data__description">スキー、料理</dd>
                          </div><!-- /.p-staff-data__item -->
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">好きな食べ物</dt>
                            <dd class="p-staff-data__description">お寿司、うなぎ</dd>
                          </div><!-- /.p-staff-data__item -->
                        </dl><!-- /.p-staff-profile__data p-staff-data -->
                      </li><!-- /.staff-group__item p-staff-profile -->
                    </ul><!-- /.staff-group__items -->
                  </section><!-- /.staff-intro__group staff-group -->

                  <section class="staff-intro__group staff-group">
                    <h3 class="staff-group__title">歯科助手</h3>

                    <ul class="staff-group__items">
                      <li class="staff-group__item p-staff-profile">
                        <figure class="p-staff-profile__image">
                          <img src="/img/staff/staff_dental-assistant_img01.jpg" alt="歯科助手　山田 花子">
                        </figure><!-- /.p-staff-profile__image -->

                        <h4 class="p-staff-profile__name"><span class="p-staff-profile__name--small">歯科助手</span>山田 花子</h4>

                        <dl class="p-staff-profile__data p-staff-data">
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">出身地</dt>
                            <dd class="p-staff-data__description">北海道</dd>
                          </div><!-- /.p-staff-data__item -->
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">趣味</dt>
                            <dd class="p-staff-data__description">スキー、料理</dd>
                          </div><!-- /.p-staff-data__item -->
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">好きな食べ物</dt>
                            <dd class="p-staff-data__description">お寿司、うなぎ</dd>
                          </div><!-- /.p-staff-data__item -->
                        </dl><!-- /.p-staff-profile__data p-staff-data -->
                      </li><!-- /.staff-group__item p-staff-profile -->

                      <li class="staff-group__item p-staff-profile">
                        <figure class="p-staff-profile__image">
                          <img src="/img/staff/staff_dental-assistant_img02.jpg" alt="歯科助手　山田 花子">
                        </figure><!-- /.p-staff-profile__image -->

                        <h4 class="p-staff-profile__name"><span class="p-staff-profile__name--small">歯科助手</span>山田 花子</h4>

                        <dl class="p-staff-profile__data p-staff-data">
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">出身地</dt>
                            <dd class="p-staff-data__description">北海道</dd>
                          </div><!-- /.p-staff-data__item -->
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">趣味</dt>
                            <dd class="p-staff-data__description">スキー、料理</dd>
                          </div><!-- /.p-staff-data__item -->
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">好きな食べ物</dt>
                            <dd class="p-staff-data__description">お寿司、うなぎ</dd>
                          </div><!-- /.p-staff-data__item -->
                        </dl><!-- /.p-staff-profile__data p-staff-data -->
                      </li><!-- /.staff-group__item p-staff-profile -->

                      <li class="staff-group__item p-staff-profile">
                        <figure class="p-staff-profile__image">
                          <img src="/img/staff/staff_dental-assistant_img03.jpg" alt="歯科助手　山田 花子">
                        </figure><!-- /.p-staff-profile__image -->

                        <h4 class="p-staff-profile__name"><span class="p-staff-profile__name--small">歯科助手</span>山田 花子</h4>

                        <dl class="p-staff-profile__data p-staff-data">
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">出身地</dt>
                            <dd class="p-staff-data__description">北海道</dd>
                          </div><!-- /.p-staff-data__item -->
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">趣味</dt>
                            <dd class="p-staff-data__description">スキー、料理</dd>
                          </div><!-- /.p-staff-data__item -->
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">好きな食べ物</dt>
                            <dd class="p-staff-data__description">お寿司、うなぎ</dd>
                          </div><!-- /.p-staff-data__item -->
                        </dl><!-- /.p-staff-profile__data p-staff-data -->
                      </li><!-- /.staff-group__item p-staff-profile -->

                      <li class="staff-group__item p-staff-profile">
                        <figure class="p-staff-profile__image">
                          <img src="/img/staff/staff_dental-assistant_img04.jpg" alt="歯科助手　山田 花子">
                        </figure><!-- /.p-staff-profile__image -->

                        <h4 class="p-staff-profile__name"><span class="p-staff-profile__name--small">歯科助手</span>山田 花子</h4>

                        <dl class="p-staff-profile__data p-staff-data">
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">出身地</dt>
                            <dd class="p-staff-data__description">北海道</dd>
                          </div><!-- /.p-staff-data__item -->
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">趣味</dt>
                            <dd class="p-staff-data__description">スキー、料理</dd>
                          </div><!-- /.p-staff-data__item -->
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">好きな食べ物</dt>
                            <dd class="p-staff-data__description">お寿司、うなぎ</dd>
                          </div><!-- /.p-staff-data__item -->
                        </dl><!-- /.p-staff-profile__data p-staff-data -->
                      </li><!-- /.staff-group__item p-staff-profile -->

                      <li class="staff-group__item p-staff-profile">
                        <figure class="p-staff-profile__image">
                          <img src="/img/staff/staff_dental-assistant_img05.jpg" alt="歯科助手　山田 花子">
                        </figure><!-- /.p-staff-profile__image -->

                        <h4 class="p-staff-profile__name"><span class="p-staff-profile__name--small">歯科助手</span>山田 花子</h4>

                        <dl class="p-staff-profile__data p-staff-data">
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">出身地</dt>
                            <dd class="p-staff-data__description">北海道</dd>
                          </div><!-- /.p-staff-data__item -->
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">趣味</dt>
                            <dd class="p-staff-data__description">スキー、料理</dd>
                          </div><!-- /.p-staff-data__item -->
                          <div class="p-staff-data__item">
                            <dt class="p-staff-data__term">好きな食べ物</dt>
                            <dd class="p-staff-data__description">お寿司、うなぎ</dd>
                          </div><!-- /.p-staff-data__item -->
                        </dl><!-- /.p-staff-profile__data p-staff-data -->
                      </li><!-- /.staff-group__item p-staff-profile -->
                    </ul><!-- /.staff-group__items -->
                  </section><!-- /.staff-intro__group staff-group -->
                </div><!-- /.l-container staff-intro__container -->
              </section><!-- /.l-staff__intro staff-intro -->
          </div><!-- /.l-staff -->

          <%- include(path + 'common/_footer' , {pageId: pageId}) %>